<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home" [text]="'menu.atras' | translate"></ion-back-button>
      </ion-buttons>
  <div class="menuTitle">{{"menu.entradasMP" | translate }}</div>
  <div style="float:right"> <img src="assets/img/logo.png" height="25px" /> </div>
</ion-toolbar>
</ion-header>



<!-- ***********CONTENT************** -->
<!-- ***********CONTENT************** -->
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div id="origen">
        <ion-item>
            <!-- <ion-label color="primary" floating>{{'Albaran' | translate}}</ion-label> -->
            <ion-input type="text"  placeholder="{{'Albaran' | translate}}" [(ngModel)]="loteSelected.albaran">
              </ion-input>
            </ion-item>
 
        <!--<md-slide-toggle [(ngModel)]="proveedor" (change)="cambioOrigen()">proveedor</md-slide-toggle>-->
       <div id="select_proveedor">
       <ion-item>
       <ion-label>{{'Proveedor' | translate}}</ion-label>
         <ion-select [(ngModel)]="loteSelected.idproveedor"  name="idproveedor" (ionChange)="getProductos(loteSelected.idproveedor)">
           <ion-select-option *ngFor="let prov of proveedores; let i = index" [value]="prov.id">
             {{prov.nombre}}
           </ion-select-option>
         </ion-select>
       </ion-item>
       </div>
       
       <!--********************** ^POR PROVEEDOR  ***************-->
         <div id="porProveedor" >
       
       <ion-item  *ngIf="loteSelected.idproveedor">
         <ion-label>{{'productos' | translate}}</ion-label>
         <ion-select #selProds [(ngModel)]="loteSelected.idproducto"  name="idproducto">
           <ion-select-option *ngFor="let prod of productos; let i = index" [value]="prod.id">
             {{prod.nombre}}
           </ion-select-option>
         </ion-select>
       </ion-item>
         <BR>    
       
          <ion-item  *ngIf="loteSelected.idproducto">
              <!-- <ion-label color="primary" floating>{{'traspasos.Num_Lote' | translate}}</ion-label> -->
              <ion-input type="text"  placeholder="{{'traspasos.Num_Lote' | translate}}" [(ngModel)]="loteSelected.numlote_proveedor">
                </ion-input>
              </ion-item>
            <ion-item *ngIf="loteSelected.numlote_proveedor">
               <ion-label>{{'traspasos.Fecha caducidad' | translate}}</ion-label>
               <ion-datetime display-format="DD MM YYYY" [(ngModel)]="loteSelected.fecha_caducidad"></ion-datetime>
             </ion-item>

            <ion-item *ngIf="loteSelected.numlote_proveedor">
                <!-- <ion-label color="primary" floating>{{'traspasos.Cantidad traspaso' | translate}}</ion-label> -->
                <ion-input type="number"  placeholder="{{'traspasos.Cantidad' | translate}}" [(ngModel)]="loteSelected.cantidad_inicial">
                  </ion-input>
            </ion-item>

       <ion-item *ngIf="loteSelected.numlote_proveedor">
          <ion-label>{{'produccion.tipo medida' | translate}}</ion-label>
          <ion-select [(ngModel)]="loteSelected.tipo_medida"  name="tipo_medida">
            <ion-select-option *ngFor="let medida of medidas; let i = index" [value]="medida.label">
              {{medida.label}}
            </ion-select-option>
          </ion-select>
        </ion-item>
 

         </div>     
       <!--********************** FIN POR PROVEEDOR  ***************-->

       <!-- <ion-card *ngIf="loteSelected">
           <ion-card-header>
              {{'traspasos.Num_Lote' | translate}}: {{loteSelected.numlote_proveedor}}
           </ion-card-header>
             {{'traspasos.Cantidad Inicial' | translate}}: {{loteSelected.cantidad_inicial}}<br>
             {{'traspasos.Cantidad Disponible' | translate}}: {{loteSelected.cantidad_remanente}}<br>
             {{'traspasos.Fecha Entrada' | translate}}: {{loteSelected.fecha_entrada | date:'dd/MM/yy'}}<br>
             <span *ngIf="loteSelected.fecha_caducidad != 'Invalid Date'">
             {{'traspasos.Fecha caducidad' | translate}}: {{loteSelected.fecha_caducidad | date:'dd/MM/yy'}}<br>
              </span>
       </ion-card> -->
       </div>

       <!--********************** CANTIDAD TRASPASO  ***************-->
       <div id="traspaso">
        <ion-button (click)="askOption()">{{'añadir' | translate}}</ion-button>
       </div>
       
       <!--********************** FIN CANTIDAD TRASPASO  ***************-->
       




</ion-content>
