<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home" [text]="'menu.atras' | translate"></ion-back-button>
      </ion-buttons>
  <div class="menuTitle">{{"menu.login" | translate }}</div>
  <div style="float:right"> <img src="assets/img/logo.png" height="25px" /> </div>
</ion-toolbar>
</ion-header>



<!-- ***********CONTENT************** -->
<!-- ***********CONTENT************** -->
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Actualizando...">
  </ion-refresher-content>
</ion-refresher>
<ion-row>
<ion-col>
<img [src]="logoempresa " *ngIf="empresa" (error)="logoempresa='assets/img/pixel.png'" class="center logo"/>
<!-- <ion-img  [src]="logoempresa" *ngIf="empresa && logoempresa" (ionError)="logoempresa='assets/img/pixel.png'" class="center logo"> -->
<!-- </ion-img> -->
</ion-col>
</ion-row>

<p>
</p>
    <ion-list>

    <ion-item>
      <ion-label position="floating">{{"nombre" | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{"password" | translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>



  <ion-button (click)="login()" twitter style="width: 100%;">Login</ion-button> 

  <ion-item-sliding class="ion-text-center empresa" >
    <ion-label>
      {{nombreEmpresa}}
    </ion-label>
    <ion-item-options side="end">
      <ion-item-option (click)="goTo('/empresa')">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
