<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home" [text]="'menu.atras' | translate"></ion-back-button>
      </ion-buttons>
  <div class="menuTitle">{{"menu.tanques" | translate }}</div>
  <div style="float:right"> <img src="assets/img/logo.png" height="25px" /> </div>
</ion-toolbar>
</ion-header>



<!-- ***********CONTENT************** -->
<!-- ***********CONTENT************** -->
<ion-content padding>

    <ion-grid>
     <ion-row class="cabecera">
       <ion-col align-self-center>
         {{'traspasos.nombre' | translate }}
       </ion-col>
       <ion-col align-self-center>
         {{'traspasos.Capacidad' | translate }}
       </ion-col>
       <ion-col align-self-center>
         {{'traspasos.Uso' | translate }}
       </ion-col>
       <ion-col align-self-center>
         {{'traspasos.Disponible' | translate }}
       </ion-col>
     </ion-row>
   
     <ion-row class="linea" *ngFor="let almacen of almacenes">
       <ion-col align-self-center>
         {{almacen.nombre}}
       </ion-col>
       <ion-col align-self-center>
          {{almacen.capacidad}}
       </ion-col>
       <ion-col align-self-center>
          {{almacen.estado}}
       </ion-col>
         <ion-col align-self-center>
          {{almacen.capacidad - almacen.estado}}
       </ion-col>
     </ion-row>
    </ion-grid>
   </ion-content>
